@import url('https://fonts.googleapis.com/css?family=Ubuntu');

footer p
{
    font-size: small;
    text-align: center;
}

header{
    text-align: center;
}

header img{
    max-width: 100%;
    height: auto;
}

*{
    margin:0;
    padding:0;
}
body{
    font-family:Ubuntu !important;
    background-color: background: #f7f7f7;
    font-size: 25px !important;
    letter-spacing:-1px;
    width:12800px;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    overflow-x: hidden;
}
.section{
    margin:0px;
    bottom:0px;
    width:1600px;
    float:left;
    height:100%;
    text-shadow:1px 1px 2px #f0f0f0;
}

.section p{
    margin:20px 0px 0px 50px;
    width:600px;
}
.black{
    color:#fff;

    background:#000 url(../images/black.jpg) no-repeat top right;
}
.white{
    color:#000;
    background:#fff url(../images/white.jpg) no-repeat top right;
}

.section ul{
    list-style:none;
    margin:20px 0px 0px 550px;
}
.black ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.black ul li a{
    display:block;
    color:#f0f0f0;
}
.black ul li a:hover{
    text-decoration:none;
    color:#fff;
}
.white ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.white ul li a{
    display:block;
    color:#222;
}
.white ul li a:hover{
    text-decoration:none;
    color:#000;
}


* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    margin:0 auto;
    justify-content: center;
}
.container nav {
    position: fixed;
    bottom: 30px;
    width: 200px;
    margin: 0 auto auto;
    display: flex;
    justify-content: space-between;
}
.container nav a {
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.container nav a i {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: 20px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .3s ease-out, bottom .5s ease;
}
.container nav a:hover > i {
    opacity: 1;
    bottom: 100%;
}
.container nav a.active > i {
    color: #0288D1;
    opacity: 1;
    bottom: 100%;
}
.container nav a span {
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    width: 20px;
    margin-top: 20px;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    transition: opacity .3s ease-out, bottom .5s ease;
}
.container nav a:hover > span {
    opacity: 1;
    top: 100%;
}
.container nav a.active > span {
    color: #000000;
    opacity: 1;
    top: 100%;
}
.container nav a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 60px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.container nav a:before {
    content: '';
    z-index: 99;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 1px #000;
    background: #000;
    transition: box-shadow 0.3s cubic-bezier(0.75, 0, 0.24, 1);
}
.container nav a:not(.active):hover:before {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 5px #000000;
}
.container nav a.active:before {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 0 4px #f7ce08;
    background: #fff;
}
.container nav a:first-child.active ~ .line {
    width: 0;
}
.container nav a:nth-child(2).active ~ .line {
    width: 14%;
}
.container nav a:nth-child(3).active ~ .line {
    width: 28%;
}
.container nav a:nth-child(4).active ~ .line {
    width: 42%;
}
.container nav a:nth-child(5).active ~ .line {
    width: 56%;
}
.container nav a:nth-child(6).active ~ .line {
    width: 70%;
}
.container nav a:nth-child(7).active ~ .line {
    width: 84%;
}
.container nav a:nth-child(8).active ~ .line {
    width: 100%;
}
.container nav .line {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: -1;
    width: 0;
    height: 0px;
    background: #000000;
    transition: width 0.5s cubic-bezier(1, 0, 0.5, 1.01);
}

.text-center {
    position:relative;
    top:8%;
    left:25%;
}

.text-center-under {
    position:relative;
    top:5%;
    left:32%;
}

div#francemap {
	width: 500px;
	height: 300px;
	margin-top: 20px;
}

div#section2 {
	display: inline-block;
}

.sec2Text1 {
	margin-top: 20px;
	text-align: center;
}

.sec2Text2 {
	text-align: center;
}

#bubble{
	z-index: 1000;
	position: relative;
	right:-30px;
	background-color:white;
	text-align:center;
	width:100%;
	height:130px;
	border:2px solid #555555;
	border-top-right-radius:80px;
	border-top-left-radius:80px;
	border-bottom-right-radius:80px;
	border-bottom-left-radius:80px;
	/* implémentation Firefox */
	-moz-border-radius-topright:80px 40px;
	-moz-border-radius-topleft:80px 40px;
	-moz-border-radius-bottomright:80px 40px;
	-moz-border-radius-bottomleft:80px 40px;
	/* implémentation Chrome, Safari, ... */
	-webkit-border-top-right-radius:20px 20px;
	-webkit-border-top-left-radius:20px 20px;
	-webkit-border-bottom-right-radius:20px 20px;
	-webkit-border-bottom-left-radius:20px 20px;

}

#arrow_border{
	width:0;
	height:0;
	line-height:0;
	border-bottom:30px solid transparent;
	border-left:30px solid transparent;
	border-right:30px solid #555555; /* couleur de la bordure de la bulle */
	position:absolute;
	bottom:-30px;
	right:65px;
}
#arrow_inner{
	width:0;
	height:0;
	line-height:0;
	border-bottom:30px solid transparent;
	border-left:30px solid transparent;
	border-right:30px solid white; /* couleur du fond de la bulle */
	position:absolute;
	bottom:-25px;
	right:67px;
}

#text{
	font-weight:bold;
	font-size:15px;

	position:relative;
	top:10px;
}

#left{
    float:left;
    height: 100vh;
    overflow:hidden;
}
#right{
    float:left;
    height: 100vh;
    overflow:hidden;
}

/*FACTORY LOADING CSS*/

.imgcontainer {
	width: 100%;
}


.loadgo-overlay {
    /*background-color: rgb(0, 170, 195) !important;
    background-color: #FFD300#d5d5d5 !important;*/
    opacity: 1 !important;
    background: transparent ! important;
    /*background-color: #FFD300 !important;*/
    justify-content: center !important;
    background-size: 354px 523px !important;
    background-image: url("https://scontent-cdt1-1.xx.fbcdn.net/v/t1.15752-9/50875301_402700270297028_7810520494473478144_n.png?_nc_cat=103&_nc_ht=scontent-cdt1-1.xx&oh=f1eb6e5937f557b75b078aeb672236e3&oe=5CFD2572") !important;
}

.imgcontainer {
    height: 523px;
    width: 354px;
    margin-right: 210px;
    margin-top: 187px;
}
#logo {
    vertical-align: middle;
    justify-content: center;
    padding-bottom: 190px;
}

.cloud {
    background-image: url("https://scontent-cdt1-1.xx.fbcdn.net/v/t1.15752-9/51124261_2013097502142264_7733117551642673152_n.png?_nc_cat=107&_nc_ht=scontent-cdt1-1.xx&oh=ff9a6d06333640768194bb4442ed75b7&oe=5CF61F58");
    background-position: 75%;
    justify-content: center;
    vertical-align: middle !important;
    display: table-cell;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    width: 383px;
    height: 164px;
    font-size: 14px;
    text-align: center;
    position: relative;
    bottom: 20%;
}

.n{
    font-size: 24px;
    padding-left: 50px;
    max-height: 30%;
}

#bulleAcc { 
  z-index:3;
  position: relative;
  top: 10%;
  left: 35%;
  width: 46%;
}

#textAcc { 
	position: relative;
	z-index:4;
	bottom: 480px;
	left: 40%;
	margin: 30px 0px 0px 0px;
	font-size: 80%;

}

#page3{
	position: relative;
	font-size: 80%;
}


.boutonDemarrer{
	margin: 40px 0px 0px 220px;
}

#h2Acc{
	margin: 30px 0px 0px 0px;
}

#section1, #section4 {
	background-image: url('./../img/01_Page1_Fond.gif');
	background-position: -300px;
}

#section2, #section3 {
	background-image: url('./../img/FondDroit.gif');
}

#section4 h2 {

	margin-left: 20px;
}

#section4 {
	background-image: url('./../img/FondGauche.gif');
}